<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
  </head>
  <body>
  <b><font size="4">beatmaniaIIDX DP☆12オプション保管庫</b></font>
  <br><br>
  <!--タブコンポーネントを使ってHTMLコーディング-->
  <div class="m-t-1 m-l-1 m-r-1">
  <!--タブのボタン部分-->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#tab" class="nav-link bg-primary" data-toggle="tab"><font color=white>～11.8</font></a>
    </li>
    <li class="nav-item">
      <a href="#tab0" class="nav-link bg-primary" data-toggle="tab"><font color=white>12.0</font></a>
    </li>
    <li class="nav-item">
      <a href="#tab1" class="nav-link bg-primary" data-toggle="tab"><font color=white>12.1</font></a>
    </li>
    <li class="nav-item">
      <a href="#tab2" class="nav-link bg-primary" data-toggle="tab"><font color=white>12.2</font></a>
    </li>
    <li class="nav-item">
      <a href="#tab3" class="nav-link bg-primary" data-toggle="tab"><font color=white>12.3</font></a>
    </li>
    <li class="nav-item">
      <a href="#tab4" class="nav-link bg-primary" data-toggle="tab"><font color=white>12.4</font></a>
    </li>
    <li class="nav-item">
      <a href="#tab5" class="nav-link bg-primary" data-toggle="tab"><font color=white>12.5</font></a>
    </li>
  </ul>
  <br>
  <br>
  <!--タブのコンテンツ部分-->
  <div class="tab-content" id="tabs">
    <div id="tab" class="tab-pane">
      <select v-model="s11">
      <option disabled value="">曲を選んでください</option>
      <option v-for="option in elevens" v-bind:value="option">
      {{ option.name }}
      </option>
      </select><br>
      <span>　　　推奨オプション<br><b>　　　　{{ s11.suggest }}</b></span>
    </div>
    <div id="tab0" class="tab-pane">
      <select v-model="s0">
      <option disabled value="">曲を選んでください</option>
      <option v-for="option in zeros" v-bind:value="option">
      {{ option.name }}
      </option>
      </select><br>
      <span>　　　推奨オプション<br><b>　　　　{{ s0.suggest }}</b></span>
    </div>
    <div id="tab1" class="tab-pane">
      <select v-model="s1">
      <option disabled value="">曲を選んでください</option>
      <option v-for="option in ones" v-bind:value="option">
      {{ option.name }}
      </option>
      </select><br>
      <span>　　　推奨オプション<br><b>　　　　{{ s1.suggest }}</b></span>
    </div>
    <div id="tab2" class="tab-pane">
      <select v-model="s2">
      <option disabled value="">曲を選んでください</option>
      <option v-for="option in twos" v-bind:value="option">
      {{ option.name }}
      </option>
      </select><br>
      <span>　　　推奨オプション<br><b>　　　　{{ s2.suggest }}</b></span>
    </div>
    <div id="tab3" class="tab-pane">
      <select v-model="s3">
      <option disabled value="">曲を選んでください</option>
      <option v-for="option in threes" v-bind:value="option">
      {{ option.name }}
      </option>
      </select><br>
      <span>　　　推奨オプション<br><b>　　　　{{ s3.suggest }}</b></span>
    </div>
    <div id="tab4" class="tab-pane">
      <select v-model="s4">
      <option disabled value="">曲を選んでください</option>
      <option v-for="option in fours" v-bind:value="option">
      {{ option.name }}
      </option>
      </select><br>
      <span>　　　推奨オプション<br><b>　　　　{{ s4.suggest }}</b></span>
    </div>
    <div id="tab5" class="tab-pane">
      <select v-model="s5">
      <option disabled value="">曲を選んでください</option>
      <option v-for="option in fives" v-bind:value="option">
      {{ option.name }}
      </option>
      </select><br>
      <span>　　　推奨オプション<br><b>　　　　{{ s5.suggest }}</b></span>
    </div>
  </div>
  </div>
  <br><br><br><br>
  _____________________________________________________________________________________________<br><br>
  見方<br>
  1P側 -/- 2P側　(<b>FLIP</b> or <b>NONE</b>)<br><br>
  <b>-</b>：正規　　　　　<b>M</b>：ミラー<br>
  <b>R</b>：ランダム　　　<b>SR</b>：S乱<br>
  <b>RR</b>：R乱<br>
  <br><br>
  ※作者（皆伝62%、右利き、SPは1P側メイン）が<br>
  やりやすいと感じたオプションです。適宜読み替えてください。<br><br>
  未プレイも多い為触っていくうちに予告無くオプションが変更される事があります<br>
  <br><br>
  最終更新：2017/09/14
  <!-- Optional JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
  <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
  <script src="https://jp.vuejs.org/js/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript">
    var app = new Vue({
    el: '#tabs',
    data: {
      s11:'',
      s0: '',
      s1: '',
      s2: '',
      s3: '',
      s4: '',
      s5: '',
      elevens:[],
      zeros:[],
      ones:[],
      twos:[],
      threes:[],
      fours:[],
      fives:[]
    },
    created: function(){
      var elevens = this.elevens;
      var zeros = this.zeros;
      var ones = this.ones;
      var twos = this.twos;
      var threes = this.threes;
      var fours = this.fours;
      var fives = this.fives;
      axios.get("https://gist.githubusercontent.com/anonymous/1d38bd68e408653bdfb0cb59bbbff482/raw/09e5eadceb5a6933be5a923c7088216b1d42d224/iidx12recommend.json").then(function(response){
        var sort_by = function(field, reverse, primer){
          reverse = (reverse) ? -1 : 1;
          return function(a,b){
            a = a[field];
            b = b[field];
            if (typeof(primer) != 'undefined'){
              a = primer(a);
              b = primer(b);
            }
            if (a<b) return reverse * -1;
            if (a>b) return reverse * 1;
            return 0;
          }
        }
        $(function(){
          response.data.sort(sort_by('name', false, function(a){return a.toUpperCase()}));
        });
        
        for(var i=0; i<response.data.length; i++){
          switch (response.data[i].diff){
            case 0:
              zeros.push(response.data[i]);
              break;
            case 1:
              ones.push(response.data[i]);
              break;
            case 2:
              twos.push(response.data[i]);
              break;
            case 3:
              threes.push(response.data[i]);
              break;
            case 4:
              fours.push(response.data[i]);
              break;
            case 5:
              fives.push(response.data[i]);
              break;
            default:
              elevens.push(response.data[i]);
          }
        }
      }).catch(function(error){
        console.log('failure');
      })
    }
  });
  </script>
  </body>
</html>
